<html>

<head>
    <title>Demo Socket IO</title>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>

<body>
    <input type="text" id="txtRoom" />
    <input type="button" id="btnTaoRoom" value="Tao room" />
    <div id="left">
        <h3>ROOM DANG CO</h3>
        <div id="dsRoom"></div>
    </div>
    <h4 id="roomHientai">...</h4>
    <div id="right"></div>
    <input type="text" id="txtMessage" />
    <input type="button" id="btnChat" value="Chat" />
</body>

</html>